.background-gunung {
  background-image: url("../img/Gunung.png");
  background-position: 50% 30%;
  position: relative;
  background-size: cover;
}

.background-gunung::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 36, 76, 0.2), rgba(0, 61, 129, 0.5));
  pointer-events: none;
}