.custom-berita {
    text-align: justify;
}
.custom-berita {
    text-align: justify;
}


body {
    font-family: Arial, sans-serif;
}
.artikel-terkait {
    width: 350px;
    margin: 0 auto;
}
.artikel {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}
.artikel img {
    width: 100%;
    height: auto;
}
.artikel-title {
  background: linear-gradient(#003d81, #000d1b);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}