#header {
  background-image: linear-gradient(#000d1b, #003d81);
}

.custom-navbar {
  display: flex;
  gap: 5px;
  align-items: center;
}

.custom-navbar .nama-logo {
  font-size: 1px;
  color: white;
}

.custom-navbar img {
  width: 66px;
  height: 65px;
}

.custom-navbar .nama-logo .sitename {
  font-size: 25px;
  margin: 0px;
  color: white;
}
